In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('initial_air_quality_data.xlsx')

print(df.info())
print("\n")
print(df.head())
print("\n")
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7312 entries, 0 to 7311
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  7312 non-null   object
 1   pm25       7312 non-null   float64
 2   pm10       7312 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 171.5+ KB
None


                   Timestamp  pm25  pm10
0  2023-01-01T01:00:00+00:00   6.2    12
1  2023-01-01T02:00:00+00:00   6.7    12
2  2023-01-01T03:00:00+00:00   7.6    14
3  2023-01-01T04:00:00+00:00   7.7    15
4  2023-01-01T05:00:00+00:00   9.1    27


              pm25         pm10
count  7312.000000  7312.000000
mean     11.444680    22.100793
std       9.199497    25.181450
min       0.000000     1.000000
25%       6.100000    12.000000
50%       9.100000    17.000000
75%      14.200000    26.000000
max     140.500000   666.000000

In [3]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], utc=True)
df['Timestamp'] = df['Timestamp'].dt.tz_localize(None)

print(df.head())

            Timestamp  pm25  pm10
0 2023-01-01 01:00:00   6.2    12
1 2023-01-01 02:00:00   6.7    12
2 2023-01-01 03:00:00   7.6    14
3 2023-01-01 04:00:00   7.7    15
4 2023-01-01 05:00:00   9.1    27

In [4]:
df['pm25_24hr_avg'] = df['pm25'].rolling(window=24).mean()
df['pm10_24hr_avg'] = df['pm10'].rolling(window=24).mean()

print(df.head())

            Timestamp  pm25  pm10  pm25_24hr_avg  pm10_24hr_avg
0 2023-01-01 01:00:00   6.2    12            NaN            NaN
1 2023-01-01 02:00:00   6.7    12            NaN            NaN
2 2023-01-01 03:00:00   7.6    14            NaN            NaN
3 2023-01-01 04:00:00   7.7    15            NaN            NaN
4 2023-01-01 05:00:00   9.1    27            NaN            NaN

In [5]:
df['pm25_lag1'] = df['pm25'].shift(1)
df['pm10_lag1'] = df['pm10'].shift(1)

print(df.head())

            Timestamp  pm25  pm10  pm25_24hr_avg  pm10_24hr_avg  pm25_lag1  \
0 2023-01-01 01:00:00   6.2    12            NaN            NaN        NaN
1 2023-01-01 02:00:00   6.7    12            NaN            NaN        6.2
2 2023-01-01 03:00:00   7.6    14            NaN            NaN        6.7
3 2023-01-01 04:00:00   7.7    15            NaN            NaN        7.6
4 2023-01-01 05:00:00   9.1    27            NaN            NaN        7.7

   pm10_lag1
0        NaN
1       12.0
2       12.0
3       14.0
4       15.0

In [6]:
df['pm25_change'] = df['pm25'].diff()
df['pm10_change'] = df['pm10'].diff()

print(df.head())
print(df.info())

            Timestamp  pm25  pm10  pm25_24hr_avg  pm10_24hr_avg  pm25_lag1  \
0 2023-01-01 01:00:00   6.2    12            NaN            NaN        NaN
1 2023-01-01 02:00:00   6.7    12            NaN            NaN        6.2
2 2023-01-01 03:00:00   7.6    14            NaN            NaN        6.7
3 2023-01-01 04:00:00   7.7    15            NaN            NaN        7.6
4 2023-01-01 05:00:00   9.1    27            NaN            NaN        7.7

   pm10_lag1  pm25_change  pm10_change
0        NaN          NaN          NaN
1       12.0          0.5          0.0
2       12.0          0.9          2.0
3       14.0          0.1          1.0
4       15.0          1.4         12.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7312 entries, 0 to 7311
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Timestamp      7312 non-null   datetime64[ns]
 1   pm25           7312 non-null   float64
 2   pm10           7312 non-null   int64
 3   pm25_24hr_avg  7289 non-null   float64
 4   pm10_24hr_avg  7289 non-null   float64
 5   pm25_lag1      7311 non-null   float64
 6   pm10_lag1      7311 non-null   float64
 7   pm25_change    7311 non-null   float64
 8   pm10_change    7311 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1)
memory usage: 514.2 KB
None

In [7]:
weather = pd.read_excel('initial_weather_data.xlsx')
print(weather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9216 entries, 0 to 9215
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dt_iso      9216 non-null   object
 1   temp        9216 non-null   float64
 2   visibility  8585 non-null   float64
 3   dew_point   9216 non-null   float64
 4   temp_min    9216 non-null   float64
 5   temp_max    9216 non-null   float64
 6   pressure    9216 non-null   int64
 7   humidity    9216 non-null   int64
 8   wind_speed  9216 non-null   float64
 9   wind_gust   2507 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 720.1+ KB
None

In [8]:
weather = weather.drop_duplicates(subset='dt_iso', keep='first')

weather['visibility'].interpolate(method='linear', limit_direction='both', inplace=True)
weather['wind_gust'].fillna(0, inplace=True)

print(weather.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 0 to 9215
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dt_iso      8784 non-null   object
 1   temp        8784 non-null   float64
 2   visibility  8784 non-null   float64
 3   dew_point   8784 non-null   float64
 4   temp_min    8784 non-null   float64
 5   temp_max    8784 non-null   float64
 6   pressure    8784 non-null   int64
 7   humidity    8784 non-null   int64
 8   wind_speed  8784 non-null   float64
 9   wind_gust   8784 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 754.9+ KB
None

In [9]:
weather['temp'] = (weather['temp'] - 32) * 5.0/9.0
weather['temp_min'] = (weather['temp_min'] - 32) * 5.0/9.0
weather['temp_max'] = (weather['temp_max'] - 32) * 5.0/9.0
weather['dew_point'] = (weather['dew_point'] - 32) * 5.0/9.0

print(weather.describe())

              temp    visibility    dew_point     temp_min     temp_max  \
count  8784.000000   8784.000000  8784.000000  8784.000000  8784.000000
mean     14.708678   9654.896175     8.263587    13.351315    15.449374
std       8.665596   1407.822603     8.809159     8.630062     8.754497
min      -9.688889    201.000000   -19.888889   -11.111111    -8.961111
25%       7.469444  10000.000000     0.977778     6.200000     8.161111
50%      14.350000  10000.000000     8.438889    13.211111    15.061111
75%      21.877778  10000.000000    15.473611    20.511111    22.772222
max      35.700000  10000.000000    24.938889    34.772222    36.722222

          pressure     humidity   wind_speed    wind_gust
count  8784.000000  8784.000000  8784.000000  8784.000000
mean   1016.029485    67.419854     8.126869     3.266217
std       7.751399    18.281091     5.007111     8.002014
min     986.000000    18.000000     0.000000     0.000000
25%    1011.000000    53.000000     4.610000     0.000000
50%    1016.000000    68.000000     6.930000     0.000000
75%    1021.000000    83.000000    11.410000     0.000000
max    1040.000000    99.000000    32.210000    47.180000

In [10]:
weather['dt_iso'] = weather['dt_iso'].astype(str)
weather['dt_iso'] = weather['dt_iso'].str.slice(start=0, stop=19)
weather['dt_iso'] = weather['dt_iso'].apply(lambda x: pd.to_datetime(x))


matched = weather[weather['dt_iso'].isin(df['Timestamp'])]

print(matched.info())
print(matched.head())
print(matched.columns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7312 entries, 1 to 9192
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dt_iso      7312 non-null   datetime64[ns]
 1   temp        7312 non-null   float64
 2   visibility  7312 non-null   float64
 3   dew_point   7312 non-null   float64
 4   temp_min    7312 non-null   float64
 5   temp_max    7312 non-null   float64
 6   pressure    7312 non-null   int64
 7   humidity    7312 non-null   int64
 8   wind_speed  7312 non-null   float64
 9   wind_gust   7312 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(2)
memory usage: 628.4 KB
None
               dt_iso       temp  visibility  dew_point   temp_min   temp_max  \
1 2023-01-01 01:00:00  12.127778      6437.0  11.188889  10.938889  13.277778
3 2023-01-01 02:00:00  12.227778      6437.0  11.288889  11.038889  12.877778
4 2023-01-01 03:00:00  11.922222      1609.0  11.150000  10.938889  12.600000
6 2023-01-01 04:00:00  11.722222      6437.0  10.950000  10.938889  12.600000
8 2023-01-01 05:00:00  11.727778       805.0  10.800000  10.988889  12.311111

   pressure  humidity  wind_speed  wind_gust
1      1010        94        4.70        0.0
3      1010        94        8.05        0.0
4      1010        95        5.82        0.0
6      1009        95        5.82        0.0
8      1009        94        5.82        0.0
Index(['dt_iso', 'temp', 'visibility', 'dew_point', 'temp_min', 'temp_max',
       'pressure', 'humidity', 'wind_speed', 'wind_gust'],
      dtype='object')

In [11]:
matched = matched.drop(columns=['dt_iso'])
combined = pd.concat([df, matched.reset_index(drop=True)], axis=1)
combined = combined[24:]

print(combined.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7288 entries, 24 to 7311
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Timestamp      7288 non-null   datetime64[ns]
 1   pm25           7288 non-null   float64
 2   pm10           7288 non-null   int64
 3   pm25_24hr_avg  7288 non-null   float64
 4   pm10_24hr_avg  7288 non-null   float64
 5   pm25_lag1      7288 non-null   float64
 6   pm10_lag1      7288 non-null   float64
 7   pm25_change    7288 non-null   float64
 8   pm10_change    7288 non-null   float64
 9   temp           7288 non-null   float64
 10  visibility     7288 non-null   float64
 11  dew_point      7288 non-null   float64
 12  temp_min       7288 non-null   float64
 13  temp_max       7288 non-null   float64
 14  pressure       7288 non-null   int64
 15  humidity       7288 non-null   int64
 16  wind_speed     7288 non-null   float64
 17  wind_gust      7288 non-null   float64
dtypes: datetime64[ns](1), float64(14), int64(3)
memory usage: 1.0 MB
None

In [12]:
to_convert = combined.drop(columns=['Timestamp']).columns

combined[to_convert] = combined[to_convert].astype('float32')

print(combined.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7288 entries, 24 to 7311
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Timestamp      7288 non-null   datetime64[ns]
 1   pm25           7288 non-null   float32
 2   pm10           7288 non-null   float32
 3   pm25_24hr_avg  7288 non-null   float32
 4   pm10_24hr_avg  7288 non-null   float32
 5   pm25_lag1      7288 non-null   float32
 6   pm10_lag1      7288 non-null   float32
 7   pm25_change    7288 non-null   float32
 8   pm10_change    7288 non-null   float32
 9   temp           7288 non-null   float32
 10  visibility     7288 non-null   float32
 11  dew_point      7288 non-null   float32
 12  temp_min       7288 non-null   float32
 13  temp_max       7288 non-null   float32
 14  pressure       7288 non-null   float32
 15  humidity       7288 non-null   float32
 16  wind_speed     7288 non-null   float32
 17  wind_gust      7288 non-null   float32
dtypes: datetime64[ns](1), float32(17)
memory usage: 541.0 KB
None

In [13]:
combined.to_excel('unnormalized_data.xlsx')

In [14]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
vals = scaler.fit_transform(combined[to_convert])
combined[to_convert] = scaler.fit_transform(combined[to_convert])

print(combined.head())

             Timestamp      pm25      pm10  pm25_24hr_avg  pm10_24hr_avg  \
24 2023-01-02 01:00:00  0.081851  0.043609       0.108707       0.039980
25 2023-01-02 02:00:00  0.094662  0.040602       0.112416       0.042017
26 2023-01-02 03:00:00  0.093950  0.039098       0.115564       0.043672
27 2023-01-02 04:00:00  0.095374  0.031579       0.118768       0.044563
28 2023-01-02 05:00:00  0.108897  0.031579       0.122253       0.043927

    pm25_lag1  pm10_lag1  pm25_change  pm10_change      temp  visibility  \
24   0.081851   0.036090     0.369333     0.350835  0.288519         1.0
25   0.081851   0.043609     0.381333     0.334129  0.294309         1.0
26   0.094662   0.040602     0.368667     0.336516  0.296145         1.0
27   0.093950   0.039098     0.370667     0.326969  0.300664         1.0
28   0.095374   0.031579     0.382000     0.338902  0.288519         1.0

    dew_point  temp_min  temp_max  pressure  humidity  wind_speed  wind_gust
24   0.450749  0.269285  0.321176  0.574074  0.716049    0.033700   0.044350
25   0.461406  0.262272  0.304257  0.574074  0.728395    0.194194   0.000000
26   0.467886  0.269285  0.321176  0.574074  0.740741    0.156824   0.000000
27   0.477247  0.283170  0.307308  0.592592  0.753086    0.033700   0.089146
28   0.478975  0.269285  0.300790  0.592592  0.790123    0.066400   0.133497

In [15]:
combined.sort_values('Timestamp', inplace=True)
full_range = pd.date_range(start=combined['Timestamp'].min(), end=combined['Timestamp'].max(), freq='H')

combined.set_index('Timestamp', inplace=True)
combined = combined.reindex(full_range, fill_value=0.0).reset_index().rename(columns={'index': 'Timestamp'})

print(combined.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8736 entries, 0 to 8735
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Timestamp      8736 non-null   datetime64[ns]
 1   pm25           8736 non-null   float32
 2   pm10           8736 non-null   float32
 3   pm25_24hr_avg  8736 non-null   float32
 4   pm10_24hr_avg  8736 non-null   float32
 5   pm25_lag1      8736 non-null   float32
 6   pm10_lag1      8736 non-null   float32
 7   pm25_change    8736 non-null   float32
 8   pm10_change    8736 non-null   float32
 9   temp           8736 non-null   float32
 10  visibility     8736 non-null   float32
 11  dew_point      8736 non-null   float32
 12  temp_min       8736 non-null   float32
 13  temp_max       8736 non-null   float32
 14  pressure       8736 non-null   float32
 15  humidity       8736 non-null   float32
 16  wind_speed     8736 non-null   float32
 17  wind_gust      8736 non-null   float32
dtypes: datetime64[ns](1), float32(17)
memory usage: 648.5 KB
None

In [16]:
combined.to_excel('FINAL_data.xlsx', index=False)